body { background-color: violet;}
h1 { 
    color: rgb(107, 23, 23);
    text-align: center; 
    text-shadow: 1px 1px 3px gray;
    font-size: 50px;
}
p {
    font-size: 25px;
    text-shadow: 1px 1px 3px gray;
    color: rgb(27, 43, 70);
}

#orarendem {
    display: none;
}
.cica {
    color: blue;
}
.cica2 {
    color: yellow;
}
.og {
    background-color: bisque;
}
img {
    padding: 10px;
    border-radius: 25px;
    box-shadow: 1px 1px 4px black;
    border: solid 16px white;
}

